.card-footer {
    font-size: 0.7rem;
    background: white;
    color: gray;
}

.card {
    max-width: 35rem;
    margin: auto;
    margin-top: 1em;
    border-radius: 0;
}

.title {
    margin: auto;
    text-align: center;
    margin-top: 1em;
}

.badge {
    color: gray;
    font-size: 0.9rem;
    border: none;
    background: white;
    display: none;
}

.badge:hover {
    display: block;
}

.list-group-item {
    color: gray;
}

.list-group-item:hover .badge{
    display: block;
}